@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-size: 20;
  font-weight: bold;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

#btn-lp1 {
  background-color: #2647bd;
  color: white;
}

.lead {
  font-family: 'Roboto';
}
